/* Responsive layout for devices with a screen larger than 550px */
@media (min-width:550px) {
    :root {
        /* Typography */
        --fs-base: 0.9rem;
    }
    .blog-card {
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 20px;
    }
    .blog-card-banner {
        overflow: hidden;
        border-radius: 5px;
    }
    .blog-card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* This program was developed by ©I-am-Programming-the-World */