.light-theme {  
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(210, 100%, 98%);
  
    --action-primary: hsl(213, 49%, 89%);
    --action-secondary: hsl(210, 56%, 94%);
  
    --foreground-primary: hsl(218, 24%, 18%);
    --foreground-secondary: hsl(216, 12%, 47%);
    --foreground-tertiary: hsl(214, 22%, 70%);
  
    --accent: hsl(229, 94%, 62%);
}
.dark-theme {
    --background-primary: hsl(218, 23%, 23%);
    --background-secondary: hsl(220, 26%, 14%);
  
    --action-primary: hsl(216, 15%, 52%);
    --action-secondary: hsl(218, 23%, 23%);
  
    --foreground-primary: hsl(210, 38%, 95%);
    --foreground-secondary: hsl(211, 25%, 84%);
    --foreground-tertiary: hsl(214, 20%, 69%);
  
    --accent: hsl(229, 94%, 62%);
}
:root {
    --white: hsl(0, 0%, 100%);

    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;
  
    --py: 5rem;
}
/* This program was developed by ©I-am-Programming-the-World */